<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cloud price comparison</title>
  </head>
  <body>
    <style media="screen">
      canvas {
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
      }
    </style>
    <canvas id="myChart"></canvas>
    <!-- Graph libraries -->
    <script src="./js/chart.min.js"></script>
    <script src="./js/graph.js"></script>
    <p style="font-size: 10px; font-family: lato">{{ timestamp }} {{ hash }}</p>
  </body>
</html>
